body{
  background-color: white;
  color: black;
}


/*inputs et boutons : */

input, button {
    border: 1px solid black !important;
    transition: 0.2s ease-in-out;
    transition-property: color, background-color, border;
    border-radius: 5px;
}
input[type="text"] {
    width: 100%;
    border: 3px solid white;
    background-color: #fff;   
    color: #666;
    -webkit-appearance: none;
}
input[type="number"]{ /*Pour l'age. On veut une disposition permettant de caser la checkbox à côté */
    background-color: #fff;
    color: #666;
}

button {
    width: 100%;
    height: 40%;
    color: #666 !important;
    border-radius: 5px !important;
    background-color: transparent;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    -webkit-text-size-adjust: 100%;
    font-weight: normal;
    line-height: 1.5;
}

option {
  color:black !important;
}

select{
    border: 1px solid black;
    background-color: #fff;
    border-radius: 5px;
    color: #666;
}

